{{- if not .Values.hem.integrated }}
{{- if .Values.hem.enabled }}
{{- $fullName := include "opennebula.fullname" . -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $fullName }}-hem
  labels:
    app: {{ $fullName }}-hem
    {{- if .Values.hem.labels }}
    {{- toYaml .Values.hem.labels | nindent 4 }}
    {{- end }}
  {{- with .Values.hem.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}

spec:
  replicas: {{ .Values.hem.replicas }}
  selector:
    matchLabels:
      app: {{ $fullName }}-hem
  template:
    metadata:
      labels:
        app: {{ $fullName }}-hem
        {{- with .Values.hem.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/hem-configmap.yaml") . | sha256sum }}
        {{- with .Values.hem.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
      - name: onehem
        image: {{ .Values.hem.image.repository }}:{{ .Values.hem.image.tag }}
        imagePullPolicy: {{ .Values.hem.image.pullPolicy }}
        command: [ "/usr/bin/ruby", "/usr/lib/one/onehem/onehem-server.rb" ]
        env:
        - name: ONE_XMLRPC
          value: http://{{ template "opennebula.fullname" . }}-oned:{{ .Values.oned.service.port }}/RPC2
        {{- with .Values.hem.extraEnv }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        volumeMounts:
        {{- with .Values.timezone }}
        - name: timezone
          mountPath: /etc/localtime
          readOnly: true
        {{- end }}
        - mountPath: /etc/one/onehem-server.conf
          name: config
          subPath: onehem-server.conf
        - name: one-keys
          mountPath: /var/lib/one/.one/one_auth
          subPath: one_auth
        - name: ssh-keys
          mountPath: /var/lib/one/.ssh
        {{- with .Values.hem.extraVolumeMounts }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.hem.sidecars }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.hem.image.pullSecrets }}
      imagePullSecrets:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.hem.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.hem.tolerations }}
      tolerations:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      securityContext:
        fsGroup: 9869
        runAsUser: 9869
      volumes:
      {{- with .Values.timezone }}
      - name: timezone
        hostPath:
          path: /usr/share/zoneinfo/{{ . }}
          type: File
      {{- end }}
      - name: config
        configMap:
          name: {{ $fullName }}-hem
      - name: ssh-keys
        secret:
          secretName: {{ $fullName }}-ssh-keys
          defaultMode: 0400
      - name: one-keys
        secret:
          secretName: {{ $fullName }}-one-keys
      {{- with .Values.hem.extraVolumes }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
{{- end }}
{{- end }}
