{{- if .Values.sunstone.enabled }}
{{- $fullName := include "opennebula.fullname" . -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $fullName }}-sunstone
  labels:
    app: {{ $fullName }}-sunstone
    {{- if .Values.sunstone.labels }}
    {{- toYaml .Values.sunstone.labels | nindent 4 }}
    {{- end }}
  {{- with .Values.sunstone.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}

spec:
  replicas: {{ .Values.sunstone.replicas }}
  selector:
    matchLabels:
      app: {{ $fullName }}-sunstone
  template:
    metadata:
      labels:
        app: {{ $fullName }}-sunstone
        {{- with .Values.sunstone.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.sunstone.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      containers:
      - name: sunstone
        image: {{ .Values.sunstone.image.repository }}:{{ .Values.sunstone.image.tag }}
        imagePullPolicy: {{ .Values.sunstone.image.pullPolicy }}
        command: [ "/usr/bin/ruby", "/usr/lib/one/sunstone/sunstone-server.rb" ]
        lifecycle:
          postStart:
            exec:
              command: [ '/bin/sh', '-c', 'echo 1 > /var/lock/one/.novnc.lock' ]
        ports:
        - name: http
          containerPort: 9869
        volumeMounts:
        {{- with .Values.timezone }}
        - name: timezone
          mountPath: /etc/localtime
          readOnly: true
        {{- end }}
        - name: config
          mountPath: /etc/one/sunstone-server.conf
          subPath: sunstone-server.conf
        - name: one-keys
          mountPath: /var/lib/one/.one/sunstone_auth
          subPath: sunstone_auth
        - name: shared
          mountPath: /var/tmp
          subPath: tmp
        - name: shared
          mountPath: /var/log/one
          subPath: log
        - name: shared
          mountPath: /var/lib/one/sunstone_vnc_tokens
          subPath: sunstone_vnc_tokens
        livenessProbe:
          httpGet:
            path: /
            port: 9869
          initialDelaySeconds: 5
          periodSeconds: 5
      {{- with .Values.sunstone.image.pullSecrets }}
      imagePullSecrets:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      {{- with .Values.sunstone.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.sunstone.tolerations }}
      tolerations:
      {{- toYaml . | nindent 6 }}
      {{- end }}
      securityContext:
        fsGroup: 9869
        runAsUser: 9869
      volumes:
      {{- with .Values.timezone }}
      - name: timezone
        hostPath:
          path: /usr/share/zoneinfo/{{ . }}
          type: File
      {{- end }}
      - configMap:
          name: {{ $fullName }}-sunstone
        name: config
      - name: one-keys
        secret:
          secretName: {{ $fullName }}-one-keys
      - name: shared
        {{- if .Values.persistence.shared.enabled }}
        persistentVolumeClaim:
          {{- if .Values.persistence.shared.existingClaim }}
          claimName: {{ .Values.persistence.shared.existingClaim }}
          {{- else }}
          claimName: {{ $fullName }}-shared
          {{- end }}
        {{- else }}
        emptyDir:
        {{- end }}
{{- end }}
